body {
    display: grid;
    grid-template-columns: 550px auto;
    margin: 0;
    font-size: 20px;
}
.pp {
    position: absolute;
    margin-left: 260px;
    margin-top: 70px;
    width: 400px;
    height: 400px;
}
/* LEFT SIDE */
.left-side{
    background-color: yellow;
}
.left-container {
    margin-top: 600px;
    margin-left: 100px;
}
.left-title-box {
    background-color: black;
    color: white;
    width: 220px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}
.left-value {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.left-list {
    margin-bottom: 10px;
}
.link-list {
    display: flex;
    text-decoration: none;
}
.link-list:link {
    color: black;
}
.link-visit:visited {
    color:black;
}
.left-list-dot {
    height: 50px;
    width: 10px;
    background-color: black;
}
.left-list-icon {
    width: 50px;
    margin-bottom: 20px;
}
.left-list.text {
    border-bottom-style: solid;
    align-self: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}
.left-list-text {
    border-bottom-style
}